<h1>Welcome {{user.name}}!</h1>

	<input type="text" ng-model="search" placeholder="Search Topics">

<table>
	<thead>
		<th class="dash_form">Category</th>
		<th class="dash_form">Topic</th>
		<th class="dash_form">User Name</th>
		<th class="dash_form"> Posts</th>
	</thead>
	<tbody>
		<tr ng-repeat="topic in topics | filter: search">
			<td class="dash_form">{{topic.category}}</td>
			<td class="dash_form"><a href="#/topic/{{topic._id}}">{{topic.title}}</a></td>
			<td class="dash_form"><a href="#/user/{{topic._user._id}}">{{topic._user.name}}</td>
			<td class="dash_form">{{topic._answer.length}}</td>
			<!-- this will be a count of answers to a topic-->
		</tr>
	</tbody>
</table>
<h2>Add a New Topic</h2>
<form ng-submit="addTopic()" ng-controller="dashboardController">
	<label>Topic: <input type="text" name="topic" ng-model="newTopic.title"></label><br>
	<label>Description: <input type="content" name="content" ng-model="newTopic.content"></label><br>
	<label>Category: <select ng-model="newTopic.category">
		<option value="HTML">HTML</option>
		<option value="Javascript">Javascript</option>
		<option value="Python">Python</option>
		<option value="Ruby">Ruby</option>
		<option value="Mongo">Mongo</option>
		<option value="CSS">CSS</option>
		<option value="SQL">SQL</option>
	</select></label><br>
	<input type="submit" name="submit">
</form>