<h1>{{topicwall._user.name}} posted the topic:</h1>
<h2>Topic: {{topicwall.title}}</h2>
<h3>Description: {{topicwall.content}}</h3>

<form ng-submit="addAnswer()" ng-controller="wallController">
	<input type="text" name="answer_box" ng-model="newAnswer.content" placeholder="Enter Answer Here">
	<input type="submit" name="submit" value="Post!">
</form>
<hr>

<div ng-repeat="answer in answer_list">
	<h3>Answer: {{answer.content}}</h3>
	<h4>Posted by: <a href="#/user/{{answer._user._id}}">{{answer._user.name}}</a><br>
	<button ng-click="thumbsUp(answer._id)" ng-model="answer.vote_up">Thumbs Up </button> {{answer.vote_up}}<br>
	<button ng-click="thumbsDown(answer._id)" ng-model="answer.vote_down">Thumbs Down</button> {{answer.vote_down}}</h4>
	<div ng-repeat="_comment in answer">
		<h5>{{_comment.content}}</h5>
	</div>

	<form ng-submit="addComment(answer._id)" ng-controller="wallController">
		<input type="text" name="text" ng-model="newComment.content" placeholder="Insert Comment Here">
		<input type="submit" name="submit">
		<hr>
	</form>
</div>